.sidebar {
  position: fixed;
  bottom: 0;
  top: 60px;
  left: 0;
  width: 72px;
  background-color: rgb(241, 241, 241);
  z-index: 50;
  margin-top: -2px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.15s;
  margin-bottom: 4px;
  padding-top: 5px;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color:  rgba(219, 218, 218, 0.804);
  border-radius: 2px;
}

.sidebar-link img {
  height: 24px;
}

.sidebar-link div {
  font-size: 10px;
  margin-top: 5px;
}
