.webpage-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 5px;
  }

  @media (max-width: 509px){
    .webpage-grid{
      grid-template-columns: 1fr;
    }
}

  @media (min-width: 510px) and (max-width: 900px) {
    .webpage-grid{
      grid-template-columns: 1fr 1fr;
    }


  }

  @media (min-width: 901px) and (max-width: 999px){
     .webpage-grid{
      grid-template-columns: 1fr 1fr 1fr;
     }
  
  }


  @media(min-width:1000px){
    .webpage-grid{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .grid-box {
    border-radius: 10px;
    transition: 0.15s;
    padding: 10px;
  }

  .grid-box:hover {
    background-color: rgba(219, 218, 218, 0.804);
  }
  .grid-box:active {
    opacity: 0.8;
    transition: 0.50s;
  }

  .thumbnail {
    width: 100%;
    border-radius: 5px;
  }
  .div-thumbnail {
    cursor: pointer;
    position: relative;
    z-index: 0;
  }

  .grid-video-preview {
    display: grid;
    grid-template-columns: 50px 1fr;
    padding-left: 6px;
  }

  .profile {
    width: 36px;
    border-radius: 30px;
    margin-top: 8px;
    cursor: pointer;
  }

  .describtion {
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
    cursor: pointer;
  }

  .channel-name {
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-top: 10px;
    cursor: pointer;
  }

  .views-count {
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-top: 4px;
    margin-bottom: 10px;
  }